html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
    align-items:center;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    font-family: sans-serif;
}

body {
    background-color: rgb(65, 17, 66);
}

#main-container {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    height: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#interface {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    height: 100%;
    flex: 1 170px;
    background-color: rgb(69, 68, 68);
    padding: 20px;
    box-sizing: border-box;
}

#choose-color {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}

#interface button,
#interface input {
    width: 100%;
}

#interface button {
    box-shadow: 0;
    padding: 20px;
    font-weight: bold;
    background-color: bisque;
    border: 0;
}

#interface button:hover {
    background-color: coral;
}

#interface .selected {
    background-color: coral;
}

#interface #clear {
    background-color: #ff4400;
    color: #fff;
}

#interface #clear:hover {
    background-color: coral;
}


#clear {
    align-self: flex-end;
}
 

#grid {
    display: flex;
    background-color: #ccc;
    aspect-ratio: 1 / 1;
    justify-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    height: 100%;
    flex: 9;
}

#grid div {
    background-color: rgb(255, 255, 255);
    aspect-ratio: 1 / 1;
}



#grid-size {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
}

#grid-size-value {
   background: #ff4400;
   padding: 10px;
   border-radius: 5px;
}

#grid-range {
    color: yellow;
}

#slider {
    display: flex;
    align-items: center;
    gap: 5px;
}

input[type="range"] {
    -webkit-appearance: none;
    height: 10px;
    background: rgba(233, 231, 231, 0.6);
    border-radius: 5px;
}

  
  
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ff4400;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
}

input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}
